{% load staticfiles %}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>SEVENTEEN</title>

    <link rel="stylesheet" href="{% static 'css/post_list.css' %}" />
</head>
<body>

<div id="content">
    <div>
        {% for post in posts %}
        <div class="post-container click-obj box-flex flex-middle">
            {{ post.title }}
        </div>
        {% endfor %}
    </div>
</div>


<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'js/post_list.js' %}"></script>
</body>
</html>